<div class="container">
  <h1>Welcome to our classes online</h1>
  <div>
    <p class="description">Post your class or Find a class that suits you
    </p>
    <!-- Login form -->
    <form class="box products-form" method="post" action="/api/session/login">
      <label for="email">Email</label>
      <input class="input" type="email" name="email" id="email" />
      <label for="password">Password</label>
      <input class="input" type="password" name="password" id="password" />
      <button class="submit" type="submit">Login</button>
      <a class="register" href="/register" target="_self">Register</a>
    </form>
  </div>
</div>